/* You can add global styles to this file, and also import other style files */

.text-container {
    position: relative;
}

.text-topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: white;
}

.student-image {
    width: 50%;
    height: 50%;
}

.topPage {
    /*position: fixed;
    max-height: 25%;*/
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-gap: 0px;
    background-color: #2196F3;
    /*padding: 1px;*/
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid black;*/
    text-align: center;
    font-size: 30px;
}

topbar {
    width: 100%;
    border: 0px;
    cellspacing: 0px;
    cellpadding: 0px;
}

.topleft {
    width: 100%;
    max-width: 100%;
    height: 113px;
}

.topmiddle {
    width: 100%;
    height: 113px;
}

.topright {
    width: 100%;
    height: 113px;
}

#navlist a {
    width: 144px;
    color: #FFFFFF;
    background-color: #003366;
    padding: 2px;
    padding-left: 3px;
    display: block;
    border-left: 15px solid #336699;
    font: bold 12px Arial, sans-serif;
    text-decoration: none;
    text-align: left;
    margin-top: 1px;
}

#navlist a:hover {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#navlist a:active {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#uberlink a:hover {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#uberlink a:active {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#uberlink a:link {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#uberlink a:visited {
    border-left: 15px solid #cc0000;
    text-decoration: none;
    color: #FFCC00;
}

#hbuttoncontainer {
    width: 100%;
    height: 15px;
    background-color: #003366;
    position: relative;
    border-top: 0px solid #FFFFFF;
}

#hbuttonBig a {
    color: #FFFFFF;
    background-color: #003366;
    padding: 0px 30px 0px 5px;
    position: relative;
    border-left: 15px solid #336699;
    border-right: 2px solid #FFFFFF;
    font: bold 22px Arial, sans-serif;
    text-decoration: none;
    text-align: left;
}

#hbuttonBig a:hover {
    border-left: 15px solid #cc0000;
    border-right: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFCC00;
}

#hbutton a {
    color: #FFFFFF;
    background-color: #003366;
    padding: 0px 25px 0px 5px;
    position: relative;
    border-left: 15px solid #336699;
    border-right: 2px solid #FFFFFF;
    font: bold 12px Arial, sans-serif;
    text-decoration: none;
    text-align: left;
}

#hbutton a:hover {
    border-left: 15px solid #cc0000;
    border-right: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFCC00;
}

#hlink a {
    border-left: 15px solid #cc0000;
    border-right: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFCC00;
}

div.pic {
    float: left;
    height: 75px;
    width: 75px;
    padding: 15px;
    margin: 5px 3px;
    background: url("./assets/images/frame-ls.jpg") center no-repeat;
}

div.pic img {
    border: 1px solid;
    border-color: #444 #AAA #AAA #444;
}

div.pt {
    background-image: url("./assets/images/frame-pt.jpg");
}

div.ls img {
    background-image: url("./assets/images/frame-ls.jpg");
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8.5px;
    text-decoration: none;
    color: #000033;
}

body a {
    font-family: Verdana, Arial, sans-serif;
    text-decoration: none;
    font: bold;
    color: #336699;
}

body a:hover {
    font-family: Verdana, Arial, sans-serif;
    text-decoration: none;
    font: bold;
    color: #FF9900;
}

.panel {
    background-image: url("./assets/images/nav-bg.gif");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-attachment: fixed;
    border: 1px solid #000000;
    background-color: #FFFFFF
}

.panel a {
    color: #336699;
    padding: 0px 5px;
    margin: 5px 5px 5px 0px;
    position: relative;
    border-left: 15px solid #336699;
    border-right: 0px solid #FFFFFF;
    font: bold 12px Arial;
    text-decoration: none;
    text-align: left;
}

.panel a:hover {
    color: #FF9900;
    padding: 0px 5px;
    margin: 5px 5px 5px 0px;
    position: relative;
    border-left: 15px solid #cc0000;
    border-right: 0px solid #FFFFFF;
    font: bold 12px Arial;
    text-decoration: none;
    text-align: left;
}

.top {
    background-color: #cc0000;
    color: #ffffff;
    font: bold;
    text-decoration: none;
}

.typewriter h1 {
    font-family: monospace;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .17em solid pink;
    animation: typing 2.5s steps(30, end), blinking-cursor .5s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blinking-cursor {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: pink;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
