<div align="center">

    <b><font color="#000033">
<hr align="center">
<div align="center"><font size="2">Innovative Partnerships Building
Canada's Aboriginal Technology Capacity</font><br>
<img src="./assets/images/logos.jpg" width="600" height="65" usemap="#Map" border="0" target="_blank">
</div>
</font></b></div>

<map name="Map">
  <area shape="circle" coords="485,33,29" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="rect" coords="515,13,598,52" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="circle" coords="420,32,29" alt="Earth Restoration Corps" title="Earth Restoration Corps" target="_blank" href="http://www.earthrestorationcorps.or">
  <area shape="circle" coords="353,32,29" href="index-2.htm" alt="OGWEHOWEH Skills and Trades Training Centre" title="OGWEHOWEH Skills and Trades Training Centre" target="_blank">
  <area shape="circle" coords="287,32,29" href="http://www.ainc-inac.gc.ca/ai/awpi/ini_e.html" alt="AWPI Aboriginal Workforce Participation Initiative" title="AWPI Aboriginal Workforce Participation Initiative" target="_blank">
  <area shape="circle" coords="222,32,29" href="http://www.ahrdcc.com" alt="AHRDCC The Aboriginal Human Resource Development Council of Canada" title="AHRDCC The Aboriginal Human Resource Development Council of Canada" target="_blank">
  <area shape="circle" coords="158,33,29" href="index-3.htm" alt="Donna Cona Inc." title="Donna Cona Inc." target="_blank">
  <area shape="circle" coords="27,32,30" href="index-4.htm" target="_blank" alt="Willis College EST. 1896" title="Willis College EST. 1896">
  <area shape="circle" coords="92,32,29" href="index-5.htm" alt="The University of Winnipeg" title="The University of Winnipeg" target="_blank">
</map>
<map name="Map2">
  <area shape="circle" coords="36,75,32" href="index-1.htm" target="_self" alt="Home" title="Home">
</map>
