<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->

                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">

                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle2.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><p class="page-title">Government</p></b></td>
                                            </tr>
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><i><font color="#003366"><i><font color="#006699">Federal<br>
                        Provincial <br>
                        AHRDA's Partnership</font></i></font>
                                                    </i>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            Federal, provincial and Aboriginal governments play a key role in the launching of TeKnoWave. As the initial funding sponsors of this initiative, they make it happen!. TeKnoWave is committed to rigorous financial management and is determined to make every
                                            contribution work in the interests of the students to assure their success.
                                        </p>
                                        <p>
                                            Much appreciation is extended to Aboriginal leaders, to <a href="https://electricityhr.ca/resources/aboriginal-workforce-participation-initiative/" target="_blank">AWPI/INAC</a>,
                                            <a href="http://www.ahrdcc.com" target="_blank">AHRDCC</a>,
                                            <a href="http://www.ofifc.org/" target="_blank">OFIFC/GREAT
                    Initiative</a>, <a href="http://www.volunteer.ca/" target="_blank">Volunteer
                    Canada</a> and to many other individuals who have been so dedicated to make this a reality for our youth.
                                        </p>
                                        <p>
                                            TeKnoWave and its services will be perceived as a noteworthy contribution to Aboriginal economic growth and we welcome new sponsors and partners in support of this important initiative.
                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
