<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="images/leftTile.jpg">
                        </td>
                        <td valign="top">

                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><p class="page-title">TeKnoWave
                        Board of Directors 2005</p></b></td>
                                                <td width="23">
                                                    <div align="right"></div>
                                                </td>
                                            </tr>
                                        </table>

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="20%" valign="top"><b>Acting Chair:
                        </b></td>
                                                <td width="80%">
                                                    <b>John Kim Bell</b><br> 63 Montclair Avenue, Toronto, M5P 1P5<br> Tel: 416-487-8614 Fax: 416-487-1070<br> E-Mail: <a href="mailto:johnkimbell@rogers.com">johnkimbell@rogers.com</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b><br>
                        </b></td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b>Treasurer/Secretary:
                        </b></td>
                                                <td width="80%">
                                                    <b>John Leggitt</b><br> Nova Networks<br> Tel: 613-294-0416 Fax: 613-233-1128 <br> E-Mail: <a href="mailto:jleggitt@nova-networks.com">jleggitt@nova-networks.com</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b><br>
                        </b></td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b>Vice President:</b></td>
                                                <td width="80%">
                                                    <b>Anna Molley</b><br> Donna Cona Inc.<br> Tel: 613-234-5407 Ext. 230 Fax: 613-236-9333 <br> E-Mail: <a href="mailto:AnnaMolley@DonnaCona.com">AnnaMolley@DonnaCona.com</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <br>

                                                </td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b>President:
                        </b></td>
                                                <td width="80%">
                                                    <b>Rima Aristocrat</b><br> Willis College of Business &amp; Technology<br> Tel: 613-233-1128 Fax: 613-233-9286 <br> E-Mail: <a href="mailto:rima.aristocrat@williscollege.com">rima.aristocrat@williscollege.com</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b><br>
                        </b></td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b>Board of
                        Directors: </b></td>
                                                <td width="80%">
                                                    <b>Joseph Tokwiro Norton</b><br> Mohawk Internet Technologies<br> Tel: 514-946-4785 Fax: 613-233-9286 <br> E-Mail: <a href="mailto:joe@mohawk.ca">joe@mohawk.ca</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top"><b><br>
                        </b></td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">
                                                </td>
                                                <td width="80%">
                                                    <b>John Bernard</b><br> Donna Cona Inc.<br> Tel: 613-234-5407 Fax: 613- 236-9333 <br> E-Mail: <a href="mailto:JohnBernard@DonnaCona.com">JohnBernard@DonnaCona.com</a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <br>

                                                </td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">

                                                </td>
                                                <td width="80%">
                                                    <b>Daniel J. Brant</b><br> National Aboriginal Capital Corporation Association<br> Tel: 613-688-0894 Fax: 613-688-0895 <br> E-Mail: <a href="mailto:dan@nacca.net%20">dan@nacca.net</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <br>

                                                </td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">

                                                </td>
                                                <td width="80%">
                                                    <b>Charles M. Dowdall</b><br> Prince Edward-Lennox &amp; Addington Social Services<br> Tel: 613-354-3364 Ext. 359 Fax: 613-354-1839 <br> E-Mail: <a href="mailto:dowdallc@pelass.org%20">dowdallc@pelass.org</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">
                                                    <br>

                                                </td>
                                                <td width="80%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" valign="top">

                                                </td>
                                                <td width="80%">
                                                    <b>Grant Thomas</b><br> Knowledge Resources Canada/Thomas International Inc.<br> Tel: 613-265-7000 Fax: 613-233-1128 <br> E-Mail: <a href="mailto:GThomas@ThomasNet.ca">GThomas@ThomasNet.ca</a>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>
</body>