<!-- Toolbar -->

<nav>
    <div class="grid-container">
        <div><img class="topleft" src="./assets/images/top2.jpg"></div>
        <div><img class="topmiddle" src="./assets/images/topBannerTile.jpg"></div>
        <div><img class="topright" src="./assets/images/TeknowaveLogo.jpg"></div>
    </div>
    <table class="topbar">
        <!-- width="100%" border="0" cellspacing="0" cellpadding="0">-->
        <tr>
            <td width="689" valign="bottom">

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
    <div class="text-container">
        <div class="typewriter">
            <img class="student-image" src="./assets/images/Students.jpg" />
            <h1 class="text-topleft">Preparing Tomorrow's Aboriginal IT Leaders Today!</h1>
        </div>
    </div>
    <!--<span align="left"><img src="./assets/images/top2.jpg" width="689" height="113"></span>
    <span align="right"><img src="./assets/images/TeknowaveLogo.jpg" width="69" height="113" border="0"></span>-->
    <div id="hbuttonBig">
        <a routerLink="../home">Home</a>
        <a routerLink="../champions">Champions</a>
        <a routerLink="../students">Students</a>
        <a routerLink="../partner">Partners</a>
        <a routerLink="../jobs">Jobs</a>
        <a routerLink="../about">About</a>
        <a routerLink="../links">Links</a>

        <a routerLink="../communities" target="_self">Communities</a>
        <a routerLink="../academic" target="_self">Academic</a>
        <a routerLink="../corporate" target="_self">Corporate</a>
        <a routerLink="../government" target="_self">Government</a>
    </div>


</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
