<div class="topPage">
    <nav>
        <div class="grid-container">
            <div><img class="topleft" src="./assets/images/top2.jpg"></div>
            <div><img class="topmiddle" src="./assets/images/topBannerTile.jpg"></div>
            <div><img class="topright" src="./assets/images/TeknowaveLogo.jpg"></div>
        </div>

        <div class="text-container">
            <div class="typewriter">
                <div class="grid-container2">
                    <div><img class="student-image" src="./assets/images/Students.jpg" /></div>
                    <div><img class="student-image topmiddle2" src="./assets/images/studentsTile.jpg " /></div>
                    <p class="text-topleft ">Preparing Tomorrow's Aboriginal IT Leaders Today!</p>
                </div>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block" id="hbuttonBig">
            <button class="btn btn-default" id="hbuttonBig" ngbDropdownToggle>Menu</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/home">Home</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/champions">Champions</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/students">Students</a></button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/partner">Partners</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/jobs">Jobs</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/programs">Programs</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/about">About</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/links">Links</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/contact">Contact</a></button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/communities">Communities</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/academic">Academic</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/corporate">Corporate</a></button>
                <button ngbDropdownItem><a class="dropdown-item" routerLink="/government">Government</a></button>

            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>