<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
            <tr>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top">
                                <!-- #BeginEditable "Main" -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="2%">&nbsp;</td>
                                        <td width="96%" valign="top"> <br>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle2.jpg">
                                                <tr>
                                                    <td width="69">&nbsp;</td>
                                                    <td height="34" valign="top"><b><p class="page-title">Programs</p></b></td>
                                                </tr>
                                            </table>
                                            <p align="left"><img src="./assets/images/HPIM0496.jpg" width="155" height="207" align="right">TeKnoWave's IT Technology programs focus on fully preparing the graduate for a wide variety of technology jobs. To accomplish this,
                                                there is a need to maintain a top standard so our aim is high. We want graduates to achieve industry certifications such as A+, Microsoft 2003 MCSA, CCNA, Unix, <a href="https://education.oracle.com/certification"
                                                    target="_blank">Oracle
                    OCP</a> and others as well as IT diplomas, university level certificates in management studies and degree credits that require hard work and dedication on the part of the student and of course superior instruction, support and mentoring
                                                which will be supplied by TeKnoWave partners.</p>
                                            <p>
                                                Support services will be available online as well as in person. As part of the TeKnoWave program, students participate in real projects working in Aboriginal communities and firms to assure on-the-job experience is gained to practice the knowledge and
                                                skills learned in the class room.
                                            </p>
                                            <p>
                                                The following programs and many more will be offered in various centres across the country according to the job demands in the local region.
                                            </p>
                                            <p>
                                                <b>NOTE:</b> In order to continuously improve our programs, TeKnoWave Inc. and its partner's reserves the right to modify programs at any time.
                                            </p>
                                            <table width="100%" border="0" cellspacing="3" cellpadding="3">
                                                <tr>
                                                    <td width="35%" valign="top">
                                                        <b>
                        <a href="./assets/documents/Teknowave Network Administration Program.pdf" target="_blank">
                        Network Systems Administrator/Analyst <br>
                        (with Business Management)</a></b>
                                                    </td>
                                                    <td width="65%">
                                                        <p>
                                                            Computer Concepts, A+ Hardware and Operating Systems, Networking in Windows 2003 MCSA, ITIL, CCNA, Unix, MS Exchange<br>
                                                            <br> Business &amp; Communication Skills, Project Management, Career / Workplace Skills, Leadership / Personal Growth and Cultural Awareness Seminars
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="35%" valign="top">
                                                        <p>
                                                            <b><a href="./assets/documents/UofW Management Certificate - TeKnoWave for Web.pdf" target="_blank"><br>
                          Management Studies University Certificate</a></b>
                                                        </p>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td width="65%" valign="top">
                                                        <br> Management I - Canadian Business, Management II - Organizational Behaviour, Effective Oral and Written Communication, Principles of Human Resource Management, Financial Management for Non-Financial
                                                        Managers, Project Management, Executive Edge/Leadership/Personal Growth and Cultural Awareness Seminars.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="35%" valign="top">
                                                        <b><a href="./assets/documents/Teknowave Multimedia Web Designer Program.pdf" target="_blank"><br>
                        Multimedia Web Designer<br>
                        (with Web Management)</a></b>
                                                    </td>
                                                    <td width="65%" valign="top">
                                                        <br> Computer Concepts, HTML, Dreamweaver, Graphics Design using Illustrator, Photo Preparation for the Web using Photoshop, Animation, Flash, Director, Digital Video <br>
                                                        <br> Business &amp; Communication Skills, Project Management, Career / Workplace Skills and Personal Growth and Cultural Awareness Seminars
                                                    </td>
                                                </tr>
                                            </table>

                                            <br>
                                            <b>Programs under development:</b>
                                            <br>
                                            <br>
                                            <a href="https://williscollege.com/programs/business/" target="_blank"><b>Business
                  Programs </b></a><b><br>
                  <a href="http://www.gpeks.com/training" target="_blank">Sustainable
                  Energy Programs</a></b>
                                        </td>
                                        <td width="2%">&nbsp;</td>
                                    </tr>
                                </table>
                                <!-- #EndEditable --><br>
                                <br>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>