<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->

                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>

                                </tr>
                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <div align="center">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle2.jpg">
                                                <tr>
                                                    <td width="69">&nbsp;</td>
                                                    <td height="34" valign="top"><b><font face="Arial" color="#003366" size="4">Academic</font></b></td>
                                                    <td>
                                                        <div align="center"><b><font size="2">Five Pillars of
                            Career and Community Development Model + <br>
                            Cultural Foundation = Excellence<br>
                            </font> </b></div>
                                                    </td>
                                                    <td valign="top">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="69">&nbsp;</td>
                                                    <td height="34" valign="top"><i><font size="1" color="#006699">Accredited
                          College IT diplomas<br>
                          Global Industry Certifications<br>
                          University Credits<br>
                          Cultural Programs</font><br>
                          </i></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>
                                            <p align="left">
                                                <font size="2"><br> TeKnoWave (a one year program) is based on a proven and successful foundation developed by its principle partner, Willis College. The academic standards used within TeKnoWave are high. The programs
                                                    are based on solid adult education model developed and delivered successfully by TeKnoWave partners and are practically oriented and adapted to the Aboriginal community. It is essential that technical
                                                    training be integrated with cultural and spiritual respect. Therefore, Aboriginal leadership and Cultural seminars are internal part of TeKnoWave training. It involves delivering TeKnoWave in a culturally
                                                    appropriate manner and in settings conducive to enhance learning of complex technologies.</font>
                                            </p>
                                            <p align="left">
                                                <font size="2"><img src="./assets/images/TKW7studentsbyTinaL.jpg" width="225" height="210" align="left" hspace="50">Working closely with the <a href="http://www.uwinnipeg.ca/" target="_blank">University
                      of Winnipeg</a>, <a href="https://www.williscollege.com" target="_blank">Willis
                      College</a>, global industry certification providers, Aboriginal IT firms and Aboriginal leaders, we have designed the programs to best prepare students for jobs in the high tech field. TeKnoWave credits are recognized by the University
                                                    of Winnipeg and can be applied against the first year of a Bachelors degree program (negotiations underway with several more Canadian universities - Queens U, Carleton U, Ottawa U, and First Nations
                                                    U).
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="2">TeKnoWave integrates technical, university management and cultural elements form local elders as well as communication and presentation skills training in partnership with organizations such as Toastmasters.
                                                    <br>
                                                    <br> The program offers successful graduates three choices: (1) immediate career opportunities in corporate Canada or Aboriginal communities, (2) opportunities to start new businesses, and (3) opportunities
                                                    to continue university studies for an undergraduate degree.</font>
                                            </p>
                                            <p align="left">
                                                <font size="2">TeKnoWave graduates receive 5 Pillar model benefits: </font><br>
                                            </p>
                                        </div>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="50" valign="top">
                                                    <font size="2"><b>P1</b></font>
                                                </td>
                                                <td valign="top">
                                                    <font size="2"><b>Accreditation and Certification</b><br> Willis College IT or Business Diploma, Industry Certification, such as A+, Sun, Microsoft, Cisco, Oracle Measures graduates IT skill knowledge &amp; job readiness.</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <font size="2"><b>P2</b></font>
                                                </td>
                                                <td>
                                                    <font size="2"><b>Private Sector Engagement </b><br> The private sector, including small, medium and large corporations, are involved to ensure that the curriculum is directly pertinent to local and national needs,
                                                        thus providing seamless and smooth transition to the workforce. Particular emphasis is placed on local Aboriginal IT companies. Mentoring programs connect students to local IT professionals. Company
                                                        visits, entrepreneur and business leader special presentations, Job banks and placement services are integrated in the program. </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <font size="2"><b>P3</b></font>
                                                </td>
                                                <td valign="top">
                                                    <font size="2"><b>University, Career College and Cultural Program Integration</b><br> The blend of technical, business, cultural and advanced communications skills development at the university level responds to important
                                                        requirements in today's workplace, where soft skills and workplace essential skills are as important as technical specialization. This integration provides the graduate with a university certificate,
                                                        develops workplace essential skills, and broader knowledge to support a service or consulting career, or to successfully face the challenges of entrepreneurship. Furthermore, the program addresses
                                                        the need for the type of broadly skilled individual who is required to support community-based applications where there are no resources to engage specialized experts.</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <font size="2"><b>P4</b></font>
                                                </td>
                                                <td>
                                                    <font size="2"><b>Credit Transfer and Lifelong Learning</b><br> An articulation mechanism, established between private and public education, enables successful graduates to transfer credits at the undergraduate level.
                                                        Willis College's 48-week IT curriculum has been evaluated and approved for degree credit transfer. The process puts in place the underpinnings of a lifelong learning infrastructure and encourages
                                                        a culture of continuous learning. Combining a Willis' IT program and the University of Winnipeg's Management Certificate into a year-long program, provides TeKnoWave graduates with 27-30 university
                                                        credits towards a degree in its Department of Business Computing &amp; Administrative Studies. </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <font size="2"><b>P5</b></font>
                                                </td>
                                                <td>
                                                    <font size="2"><b>Community Internship Program (CIP) Portfolio Rooted in the Community</b><br> TeKnoWave is delivered in both urban facilities and on-reserve. Partnership with local Friendship Centers ensures access
                                                        to social support (e.g. day care, counseling). Partnership with local elders ensures spiritual support. Mandatory community internship program to apply what us being learned, gain experience, help
                                                        communities understand importance of IT and put value back into the communities.</font>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>
