<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">

                        </td>-
                        <td valign="top">

                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle2.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" color="#003366" size="4">Corporate</font></b></td>
                                            </tr>
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><i><font face="Arial" color="#003366" size="1"><i><font size="1" color="#006699">Aboriginal
                        job Bank<br>
                        Technology Industry Partnerships<br>
                        Corporate Canada Partnerships</font></i></font>
                                                    </i>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            <font size="2">The private sector, including small, medium and large corporations, are involved to ensure that the curriculum is directly pertinent to local and national needs, thus providing seamless and smooth transition
                                                to the workforce. Particular emphasis is placed on Aboriginal IT companies. </font>
                                        </p>
                                        <p>
                                            <font size="2">Corporate sponsorship, leadership and support has been instrumental in ensuring two keys goals of TeKnoWave:</font>
                                        </p>
                                        <ol>
                                            <ol>
                                                <li>
                                                    <font size="2">Meeting the needs of hiring firms and communities so that graduates have the modern skills needed by today's knowledge workers.<br>
                                                        <br>
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2"> Ensuring our programs are industry standard and using official curriculum of the primary vendors. This assures proper preparation for not only certification exams but also for the expected knowledge
                                                        on the job market.</font>
                                                </li>
                                            </ol>
                                        </ol>
                                        <p>
                                            <font size="2"><a href="http://www.donnacona.com/" target="_blank">Donna
                    Cona Inc.</a>, <a href="https://tewa.ca/mohawk-internet-technoligies/" target="_blank">Mohawk
                    Internet Technologies</a>, <a href="http://www.nacca.ca/" target="_blank">National
                    Aboriginal Capital Corporation Association</a>, <a href="http://www.osttc.com/" target="_blank">OSWE:GE
                    Inc.</a> and <a href="https://www.williscollege.com" target="_blank">Willis
                    College</a> typifies the quality corporation that is providing an advocacy to the graduates of TeKnoWave.</font>
                                        </p>
                                        <p>
                                            <font size="2">Much appreciation is extended to <a href="https://www.williscollege.com" target="_blank">Willis
                    College</a>, the major funding sponsor and founder of this initiative.
                                            </font><br>
                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
