<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->

                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/heartbeattitle2.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" color="#003366" size="4">Students</font></b></td>
                                            </tr>
                                        </table>
                                        <br>
                                        <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                            <tr>
                                                <td valign="top" width="75%">
                                                    <p align="left">
                                                        <font size="2">This page is currently under construction.</font>
                                                    </p>
                                                </td>
                                                <td valign="top" width="5%">
                                                    <p>&nbsp;</p>
                                                </td>
                                                <td valign="top" width="20%">
                                                    <table width="100%" cellspacing="0" cellpadding="0" class="panel" border="0">
                                                        <tr>
                                                            <td class="top"><br>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left"></div>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="5">
                                                                    <tr>
                                                                        <td>
                                                                            <div align="left">
                                                                                <p>
                                                                                    <font size="2"><a href="students/studentform1.aspx">Student
                                        Form</a></font><br><br>
                                                                                    <font size="2"><a href="jtn/index.htm">Joseph
                                        T. Norton Scholarship</a><br>
                                                                                        <br>
                                                                                        <a href="documents/TKW-student-pamphlet.pdf">View
                                        our Students Pamphlet</a></font>
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <p align="left"><br>
                                                                    <br>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <p>&nbsp;</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
