<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">
                <!-- <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" height="113" background="images/topBannerTile.jpg">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="689" valign="bottom">
                                        <div align="left"><img src="images/top2.jpg" width="689" height="113"></div>
                                    </td>
                                    <td>
                                        <div align="right"><img src="images/TeknowaveLogo.jpg" width="69" height="113" usemap="#Map2" border="0"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->
                            <table width="186" border="0" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
                                <tr>
                                    <td width="40">&nbsp;</td>
                                    <td bgcolor="#FFFFFF" valign="top" height="271">
                                        <!-- <div id="navlist"> <a href="about.htm" target="_self">About
                    TeKnoWave</a> <a href="champions.htm" target="_self">Champions</a>
                                            <a href="students.htm" target="_self">Students</a> <a href="partners.htm" target="_self">Partners</a>
                                            <a href="jobs.htm" target="_self">Jobs</a> <a href="programs.htm" target="_self">Programs</a>
                                            <a href="cip.htm" target="_self">Community Internship Program</a>
                                            <a href="jtn/index.htm" target="_self">Joseph
                    T. Norton Scholarship</a> <a href="links.htm" target="_self">Links</a>
                                            <a href="downloads.htm" target="_self">Downloads</a>
                                            <div id="uberlink"><a href="contact.htm" target="_self">Contact</a> </div>
                                            <a href="index-1.htm" target="_self">Home</a> </div> -->
                                    </td>
                                </tr>
                            </table>
                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="135" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="100%" height="135" background="images/studentsTile.jpg" valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="135">
                                                        <tr>

                                                            <td height="112" valign="top">
                                                                <div align="left">
                                                                    <table width="628" border="0" cellspacing="0" cellpadding="0" height="112">
                                                                        <tr>
                                                                            <td background="images/Students.jpg" valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="get/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="400" height="40" id="newtop" hspace="20" align="top">
                                        <param name="movie" value="flash/preparetoday5.swf"> <param name="quality" value="high"> <param name="wmode" value="transparent">

<param name="bgcolor" value="#000000"> <embed src="flash/preparetoday5.swf" quality="high" wmode="transparent" bgcolor="#000000" width="400" height="40" hspace="20" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="top">
                                      </object></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>

                                                            <td valign="top">
                                                                <!-- #BeginEditable "horMenu" -->
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td bgcolor="#FFFFFF">
                                                                            <div id="hbuttoncontainer">
                                                                                <div id="hbutton"> <a routerLink="../communities" target="_self">Communities </a><a routerLink="../academic" target="_self">Academic </a> <a routerLink="../corporate" target="_self">Corporate </a>
                                                                                    <a routerLink="../government" target="_self">Government </a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- #EndEditable -->
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td valign="bottom">

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" color="#003366" size="4">Contact</font></b></td>
                                            </tr>
                                        </table>
                                        <p>
                                            <font size="2"><br> For student funding and program details, please contact the campus of your choice:</font>
                                        </p>
                                        <table width="100%" border="0">
                                            <tr>
                                                <td width="50%">
                                                    <font size="2"><b>Ottawa Campus</b><br> TeKnoWave Inc.<br> 85 O'Connor Street<br> Ottawa, Ontario<br> K1P 5M6<br> Canada
                                                        <br> Tel: (613) 233-1128<br> Fax: (613) 233-9286<br> Toll Free (877) 233-1128<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a></font>
                                                </td>
                                                <td>
                                                    <font size="2"><b>Arnprior Campus</b><br> 39 Winners Circle Drive<br> Arnprior, Ontario<br> K7S 3G9<br> Canada
                                                        <br> Tel: (613) 623-1114<br> Fax: (613) 623-8765<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a>
                                                        <a href="mailto:info@teknowave.ca"></a>
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <font size="2"><b><br>
                        Smiths Falls Campus</b><br> TeKnoWave Inc.<br> 25 William Street West<br> Smiths Falls, ON <br> K7A 1N2<br> Canada
                                                        <br> Tel: (613) 283-1905<br> Fax: (613) 283-1333<br> Toll Free (877) 233-1128<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a></font>
                                                </td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                        <p align="left">
                                            <font size="2"><br>
                                                <br>
                                                <b>National Partnerships</b><br> Please contact TeKnoWave Inc. Head Office:
                                                <a href="mailto:Rima.Aristocrat@teknowave.ca"><br> Rima.Aristocrat@teknowave.ca
                                                </a>
                                            </font>
                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
