<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->
                            <table width="186" border="0" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
                                <tr>
                                    <td width="40">&nbsp;</td>
                                    <td bgcolor="#FFFFFF" valign="top" height="271">

                                    </td>
                                </tr>
                            </table>
                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">

                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><p class="page-title">Contact</p></b></td>
                                            </tr>
                                        </table>
                                        <p>
                                            <br> For student funding and program details, please contact the campus of your choice:
                                        </p>
                                        <table width="100%" border="0">
                                            <tr>
                                                <td width="50%">
                                                    <b>Ottawa Campus</b><br> TeKnoWave Inc.<br> 85 O'Connor Street<br> Ottawa, Ontario<br> K1P 5M6<br> Canada
                                                    <br> Tel: (613) 233-1128<br> Fax: (613) 233-9286<br> Toll Free (877) 233-1128<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a>
                                                </td>
                                                <td>
                                                    <b>Arnprior Campus</b><br> 39 Winners Circle Drive<br> Arnprior, Ontario<br> K7S 3G9<br> Canada
                                                    <br> Tel: (613) 623-1114<br> Fax: (613) 623-8765<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a>
                                                    <a href="mailto:info@teknowave.ca"></a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b><br>
                        Smiths Falls Campus</b><br> TeKnoWave Inc.<br> 25 William Street West<br> Smiths Falls, ON <br> K7A 1N2<br> Canada
                                                    <br> Tel: (613) 283-1905<br> Fax: (613) 283-1333<br> Toll Free (877) 233-1128<br> E-Mail: <a href="mailto:info@teknowave.ca">info@teknowave.ca</a>
                                                </td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                        <p align="left">
                                            <br>
                                            <br>
                                            <b>National Partnerships</b><br> Please contact TeKnoWave Inc. Head Office:
                                            <a href="mailto:Rima.Aristocrat@teknowave.ca"><br> Rima.Aristocrat@teknowave.ca
                                            </a>

                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
