<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->

                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle3.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" color="#003366" size="4">About
                        TeKnoWave</font></b></td>
                                                <td width="23">
                                                    <div align="right"></div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="75%" valign="top">
                                                    <p align="center"><br>
                                                        <img src="./assets/images/joinTheWave.jpg" width="558" height="70">
                                                        <p align="left">
                                                            <font size="2">We take pride in welcoming you to <b>TeKnoWave, </b><a href="documents/HonPaulMartin.pdf" target="_blank">Canada's
                          First National Aboriginal IT Training Program</a>. TeKnoWave Inc., headquartered in Ottawa, is a non-profit corporation that has been formed to oversee the delivery of IT, Business and Sustainable Energy Training programs that
                                                                creates the essential technical and managerial capacity within the First Nations, Inuit, and Metis populations, enabling the achievement of community social and economic goals, creating employment
                                                                and entrepreneurial opportunities, and building Aboriginal self-reliance.</font>
                                                        </p>
                                                        <p>
                                                            <font size="2">Our quality education, friendly atmosphere, and a variety of Indigenous social and cultural activities, make <b>TeKnoWave</b> the perfect place to study, <a href="documents/TeKnoWave Students as Canadian Youth Ambassadors to Korea.pdf"
                                                                    target="_blank">travel</a> and develop life-long friends. </font>
                                                        </p>
                                                        <p>
                                                            <font size="2">Our programs are designed in collaboration with hiring organizations and are designed specifically for Aboriginal People which lead to immediate career opportunities in Corporate Canada, All
                                                                Government Sectors, and Aboriginal Communities, Starting a New Business Venture or Continuing University Studies for a Degree.
                                                            </font>
                                                        </p>
                                                        <p>
                                                            <font size="2">Laid on the foundation of Aboriginal community participation, the <b>TeKnoWave</b> model: &quot;
                                                                <a href="documents/Model at a Glance.pdf" target="_blank">Five
                          Pillars of Career &amp; Community Development</a>&quot;, is based on the proven and successful experiences of Ottawa-based Willis College of Business &amp; Technology
                                                                which has been a leader throughout its 108 years. </font>
                                                        </p>
                                                        <p>
                                                            <font size="2">The overall goal (IT sector) is to develop 1 000 Aboriginal IT professionals to optimize the prospects for employments, to bridge the existing skills gap, to provide innovative permanent solutions
                                                                to community IT needs. </font>
                                                        </p>
                                                        <p>
                                                            <font size="2">The <b>TeKnoWave</b> <a href="ceremony.htm" target="_self">pilot</a> IT class commenced in Ottawa enjoying unparallel success. The first TeKnoWave pilot on-reserve will be at Six Nations with
                                                                G.R.E.A.T. <a href="index-2.htm" target="_blank">Ogwehoweh
                          Skills and Trades Training Centre</a> and it is scheduled for 2005. </font>
                                                        </p>
                                                        <p>
                                                            <font size="2"><b>TeKnoWave</b> has been the focus of attention internationally and there is a huge demand to bring TeKnoWave onto the national and international stages.
                                                            </font>
                                                        </p>
                                                        <p>
                                                            <font size="2"><b>For more information, please contact
                          campus of your choice:</b><br>
                                                                <br>
                                                                <font color="#006699">Ottawa Campus (TeKnoWave Inc.): 1-877-233-1128
                                                                    <a href="mailto:%20Rima.Aristocrat@teknowave.ca"><br> Rima.Aristocrat@teknowave.ca
                                                                    </a> or <a href="mailto:info@teknowave.ca">info@teknowave.ca</a><br>
                                                                    <br>
                                                                </font>
                                                            </font>
                                                        </p>
                                                </td>
                                                <td width="5%">&nbsp;</td>
                                                <td width="20%" valign="top"> <br>
                                                    <table width="100%" cellspacing="0" cellpadding="0" class="panel" border="0">
                                                        <tr>
                                                            <td class="top"><br>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left"><br>
                                                                </div>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="5">
                                                                    <tr>
                                                                        <td>
                                                                            <div align="left">
                                                                                <p align="left">
                                                                                    <font size="2"><a href="boardofdirectors.htm" target="_self">Board
                                        of Directors</a></font>
                                                                                </p>
                                                                                <p align="left">
                                                                                    <font size="2">Facts at a Glance - <br>
                                                                                        <strong>Under Construction</strong></font>
                                                                                </p>
                                                                                <p align="left">
                                                                                    <font size="2">TeKnoWave Flash Presentation -<br>
                                                                                        <strong>Under Construction</strong> </font>
                                                                                </p>
                                                                                <p align="left">
                                                                                    <font size="2">TeKnoWave Locations -<br>
                                                                                        <strong>Under Construction</strong> </font>
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <p align="left"><br>
                                                                    <br>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
