<body>
    <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle1.jpg">
            <tr>
                <td width="69">&nbsp;</td>
                <td height="34" valign="top"><b><p class="page-title">News</p></b></td>
            </tr>
        </table>
        <ngb-accordion (panelChange)="beforeChange($event)">
            <ngb-panel class="news-title" *ngFor="let _news of genNews.news ; let i = index" id="preventchange-{{ i }}" title="{{ _news.newsDate }} >> {{_news.newsName}}">
                <ng-template ngbPanelContent>
                    {{_news.newsText}}
                    <ng-template *ngIf="_news.isLink;then showBlock; else notShowBlock">
                    </ng-template>

                    <ng-template #showBlock>
                        <td>
                            <a class="news-text" routerLink="{{ _news.newsURL }}"> {{ _news.newsURLText }}</a>
                        </td>
                    </ng-template>

                    <ng-template #notShowBlock>
                        <br>
                        <h1>
                            <a class="news-text" href="{{ _news.newsURL }}"> {{ _news.newsURLText }}</a>
                        </h1>
                    </ng-template>

                </ng-template>
            </ngb-panel>

        </ngb-accordion>
    </div>
</body>