<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">
                <!-- <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" height="113" background="./assets/images/topBannerTile.jpg">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="689" valign="bottom">
                                        <div align="left"><img src="./assets/images/top2.jpg" width="689" height="113"></div>
                                    </td>
                                    <td>
                                        <div align="right"><img src="./assets/images/TeknowaveLogo.jpg" width="69" height="113" usemap="#Map2" border="0"></div>
                                    </td>
                                </tr>
                            </table>
            </td>
        </tr>
    </table>-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->
                            <table width="186" border="0" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
                                <tr>
                                    <td width="40">&nbsp;</td>
                                    <td bgcolor="#FFFFFF" valign="top" height="271">
                                        <!-- <div id="navlist"> <a href="about.htm" target="_self">About
                    TeKnoWave</a> <a href="champions.htm" target="_self">Champions</a>
                                            <a href="students.htm" target="_self">Students</a> <a href="partners.htm" target="_self">Partners</a>
                                            <a href="jobs.htm" target="_self">Jobs</a> <a href="programs.htm" target="_self">Programs</a>
                                            <a href="cip.htm" target="_self">Community Internship Program</a>
                                            <a href="wcommanda/index.htm" target="_self">Dr. William Commanda Scholarship</a>
                                            <a href="jtn/index.htm" target="_self">Joseph
                    T. Norton Scholarship</a> <a href="links.htm" target="_self">Links</a>
                                            <a href="downloads.htm" target="_self">Downloads</a> <a href="contact.htm" target="_self">Contact</a>
                                            <div id="uberlink"><a href="index-1.htm" target="_self">Home</a> </div>
                                        </div> -->
                                    </td>
                                </tr>
                            </table>
                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="135" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="100%" height="135" background="./assets/images/studentsTile.jpg" valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="135">
                                                        <tr>

                                                            <td height="112" valign="top">
                                                                <div align="left">
                                                                    <table width="628" border="0" cellspacing="0" cellpadding="0" height="112">
                                                                        <tr>
                                                                            <td background="./assets/images/Students.jpg" valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="get/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="400" height="40" id="newtop" hspace="20" align="top">
                                        <param name="movie" value="flash/preparetoday5.swf"> <param name="quality" value="high"> <param name="wmode" value="transparent">

<param name="bgcolor" value="#000000"> <embed src="flash/preparetoday5.swf" quality="high" wmode="transparent" bgcolor="#000000" width="400" height="40" hspace="20" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="top">
                                      </object></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>

                                                            <td valign="top">
                                                                <!-- #BeginEditable "horMenu" -->
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td bgcolor="#FFFFFF">
                                                                            <div id="hbuttoncontainer">
                                                                                <div id="hbutton"> <a routerLink="../communities" target="_self">Communities </a><a routerLink="../academic" target="_self">Academic </a> <a routerLink="../corporate" target="_self">Corporate </a>
                                                                                    <a href="government.htm" target="_self">Government </a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- #EndEditable -->
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td valign="bottom">

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="78%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" size="4" color="#003366">News</font></b></td>
                                            </tr>
                                        </table>
                                        <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="180" valign="top">
                                                    <div align="left">
                                                        <p align="center"><img src="./assets/images/iceSculpture.jpg" width="160" height="150">
                                                            <font size="2" color="#990000"><br> TeKnoWave ice sculpture</font>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td valign="top">
                                                    <p>
                                                        <font size="2" color="#990000"><b><br>
                          <font size="3">Wind Energy Technician Jobs On the Rise</font></b></font>
                                                        <font size="2"><br>
                                                            <a href="windenergytechniciajobs.pdf" target="_blank"><b>Read the article! </b></a></font>
                                                    </p>
                                                    <p>
                                                        <font size="2" color="#990000"><b><font size="3">TeKnoWave</font>
                          PILOT PROGRAM &amp; GRADUATION ENJOYS UNPARALLEL SUCCESS</b></font>
                                                        <font size="2"><br>
                                                            <a href="ceremony.htm" target="_self"><b>Click here
                          to see our TeKnoSuccess! </b></a></font>
                                                    </p>
                                                    <p>
                                                        <font size="2"><b><font color="#990000">CJOH and Canada
                          AM News on <font size="3">TeKnoWave First Graduation
                          Gala</font></font></b><br>
                                                            <a href="video/NVEExport.mpg" target="_blank"><b><font size="2">Click
                          here to download movie! (17mgs)</font></b></a></font>
                                                    </p>
                                                    <p>
                                                        <font color="#990000"><b>TeKnoWave</b></font>
                                                        <font size="2" color="#990000"><b>
                          STORY, AS UNIQUE AS THE INITIATIVE ITSELF</b></font>
                                                        <font size="2"><br>
                                                            <a href="documents/TeKnoWave Story by Rima A and Cliff S.pdf" target="_blank"><b>Click
                          here to find out more! (PDF version)</b></a><br>
                                                            <a href="video/graduation_gala_RO_640x480.mpg" target="_blank"><b><font size="2">Click
                          here to download TeKnoWave movie! (26mgs)</font></b></a></font>
                                                    </p>
                                                    <p>
                                                        <font color="#990000"><b>TeKnoWave</b></font>
                                                        <font size="2" color="#990000"><b> Renewable Energy Seminar<br>
                              <a href="http://www.williscollege.com/TeKnoWave-Gallery/index.html" target="_blank">Click
                        to view photos!</a></b></font>
                                                    </p>
                                                    <p>
                                                        <font color="#990000"><b>TeKnoWave</b></font>
                                                        <font size="2" color="#990000"><b>
                          NEWS &amp; ARCHIVES<br>
                          <a href="http://www.williscollege.com/pdf/Commanada-release.pdf" target="_blank">Click
                          here to find out more!</a><br>
                          </b></font><br>
                                                        <br>
                                                    </p>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/heartbeattitle3.jpg">
                                                        <tr>
                                                            <td width="69">&nbsp;</td>
                                                            <td height="34" valign="top"><b><font face="Arial" size="4" color="#003366">Scholarships</font></b></td>
                                                        </tr>
                                                    </table>
                                                    <p>
                                                        <a href="wcommanda/index.htm" target="_self"><img src="images/scholarships2.jpg" width="190" height="57" border="0"></a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td width="10%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
                    <tr>
                        <td width="186" background="./images/leftTile.jpg">&nbsp;</td>
                        <td valign="top">
                            <div align="center">
                                <!-- <div align="center"><b><font color="#000033"><a href="about.htm" target="_self"><font size="2">About
                TeKnoWave</font></a><font size="2"> | <a href="champions.htm" target="_self">Champions</a>
                | <a href="students.htm" target="_self">Students</a> | <a href="partners.htm" target="_self">Partners</a>
                | <a href="jobs.htm" target="_self">Jobs</a> | <a href="programs.htm" target="_self">Programs</a>
                | <a href="links.htm" target="_self">Links</a> | <a href="contact.htm" target="_self">Contact</a>
                | <a href="index-1.htm" target="_self">Home</a><br>
                <a href="communities.htm" target="_self">Communities</a> |
                <a href="academic.htm" target="_self">Academic</a> | <a href="corporate.htm" target="_self">Corporate</a>
                | <a href="government.htm" target="_self">Government</a></font><br>
                </font></b></div> -->
                                <b><font color="#000033">
              <hr align="center">
              <div align="center"><font size="2">Innovative Partnerships Building
                Canada's Aboriginal Technology Capacity</font><br>
                <img src="images/logos.jpg" width="600" height="65" usemap="#Map" border="0" target="_blank">
              </div>
              </font></b></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <map name="Map">
  <area shape="circle" coords="485,33,29" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="rect" coords="515,13,598,52" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="circle" coords="420,32,29" alt="Earth Restoration Corps" title="Earth Restoration Corps" target="_blank" href="http://www.earthrestorationcorps.or">
  <area shape="circle" coords="353,32,29" href="index-2.htm" alt="OGWEHOWEH Skills and Trades Training Centre" title="OGWEHOWEH Skills and Trades Training Centre" target="_blank">
  <area shape="circle" coords="287,32,29" href="http://www.ainc-inac.gc.ca/ai/awpi/ini_e.html" alt="AWPI Aboriginal Workforce Participation Initiative" title="AWPI Aboriginal Workforce Participation Initiative" target="_blank">
  <area shape="circle" coords="222,32,29" href="http://www.ahrdcc.com" alt="AHRDCC The Aboriginal Human Resource Development Council of Canada" title="AHRDCC The Aboriginal Human Resource Development Council of Canada" target="_blank">
  <area shape="circle" coords="158,33,29" href="index-3.htm" alt="Donna Cona Inc." title="Donna Cona Inc." target="_blank">
  <area shape="circle" coords="27,32,30" href="index-4.htm" target="_blank" alt="Willis College EST. 1896" title="Willis College EST. 1896">
  <area shape="circle" coords="92,32,29" href="index-5.htm" alt="The University of Winnipeg" title="The University of Winnipeg" target="_blank">
</map>
    <map name="Map2">
  <area shape="circle" coords="36,75,32" href="index-1.htm" target="_self" alt="Home" title="Home">
</map>