<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->

                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" size="4" color="#003366">Links</font></b></td>
                                            </tr>
                                        </table>
                                        <p>
                                            <font size="2">The web is a tremendous resource. Here is a list of useful links which will continue to grow and expand. Feel free to submit your own links so that we can better serve the TeKnoWave community.</font>
                                        </p>
                                        <p>
                                            <font size="2"><i>Add the www.TeKnoWave.ca link to your site
                    and we will do the same. Email us at <a href="mailto:webmaster@teknowave.ca">webmaster@teknowave.ca</a>
                    to request adding your link when you have put the TeKnoWave
                    website link on your site.</i></font>
                                        </p>
                                        <p>
                                            <font size="2"><b>Education &amp; Training (See other links
                    throughout site)</b><br>
                                                <br>
                                                <a href="index-6.htm" target="_blank">Carleton
                    University</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-7.htm" target="_blank">First
                    Nations University</a><br>
                                                <br>
                                                <a href="index-8.htm" target="_blank">Queens University</a><br>
                                                <br>
                                                <a href="index-9.htm" target="_blank">University
                    of Ottawa</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-5.htm" target="_blank">University
                    of Winnipeg</a><br>
                                                <br>
                                                <a href="index-4.htm" target="_blank">Willis
                    College of Business &amp; Technology</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Aboriginal </b><br>
                                                <br>
                                                <a href="http://www.aboriginalcanada.gc.ca/abdt/interface/interface2.nsf/engdocBasic/0.html" target="_blank">Aboriginal
                    Canada Portal</a><br>
                                                <br>
                                                <a href="http://www.ahrdcc.com" target="_blank">Aboriginal
                    Human Resource Development Council of Canada</a><br>
                                                <br>
                                                <a href="http://www.ainc-inac.gc.ca/ai/awpi/index_e.html" target="_blank">Aboriginal
                    Workforce Participation Initiative</a> <br>
                                                <br>
                                                <a href="index-10.htm" target="_blank">Assembly of First
                    Nations</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.abo-peoples.org/mainmenu.html" target="_blank">Congress
                    of Aboriginal Peoples</a><br>
                                                <br>
                                                <a href="index-11.htm" target="_blank">G.R.E.A.T</a><br>
                                                <br>
                                                <a href="index-12.htm" target="_blank">Inuit Tapiriit
                    Kanatami</a><br>
                                                <br>
                                                <a href="index-13.htm" target="_blank">Metis
                    National Council</a><br>
                                                <br>
                                                <a href="index-14.htm" target="_blank">National Aboriginal
                    Achievement Foundation</a><br>
                                                <br>
                                                <a href="http://www.nafc-aboriginal.com" target="_blank">National
                    Association of Friendship Centres</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-15.htm" target="_blank">Native
                    Women's Association of Canada</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-2.htm" target="_blank">Ogwehoweh
                    Skills and Trades Training Centre</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-2.htm" target="_blank">OSWE:GE
                    Inc.</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.whitedeertechnologies.com/" target="_blank">Whitedeer
                    Technologies</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Media</b><br>
                                                <br>
                                                <a href="index-16.htm" target="_blank">Aboriginal Peoples
                    Television Network</a> <br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.aboriginaltimes.com/home.html" target="_blank">Aboriginal
                    Times</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="lander/aboriginalvoices.com.html" target="_blank">Aboriginal
                    Voices Media</a><br>
                                                <br>
                                                <a href="index-17.htm" target="_blank">Aboriginal
                    Voices Radio</a><br>
                                                <br>
                                                <a href="http://www.ammsa.com/sweetgrass/" target="_blank">Alberta
                    Native News</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-18.htm" target="_blank">CJOH</a><br>
                                                <br>
                                                <a href="index-19.htm" target="_blank">Eastern
                    Door</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.firstperspective.ca" target="_blank">First
                    Perspective News</a></font>
                                            <font size="2"><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.hilltimes.com" target="_blank">The
                    Hill Times</a><br>
                                                <br>
                                                <a href="http://www.thenewro.com" target="_blank">NewRO</a><br>
                                                <br>
                                                <a href="index-20.htm" target="_blank">Ottawa
                    Citizen</a><br>
                                                <br>
                                                <a href="index-21.htm" target="_blank">SAY Magazine</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.wawatay.on.ca" target="_blank">Wawatay
                    News</a><br>
                                                <br>
                                                <a href="index-22.htm" target="_blank">Wind
                    Speaker</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Technology Firms</b><br>
                                                <br>
                                                <a href="index-23.htm" target="_blank">Cisco - World's
                    leader in telecommunications</a><br>
                                                <br>
                                                <a href="index-3.htm" target="_blank">Donna Cona
                    Inc.</a><br>
                                                <br>
                                                <a href="ca-en.html" target="_blank">IBM</a><br>
                                                <br>
                                                <a href="http://www.kiggavik.ca/training.htm" target="_blank">Kiggavik
                    Services</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-24.htm" target="_blank">Macromedia
                    - Web design and multimedia</a><br>
                                                <br>
                                                <a href="en-ca/index.htm" target="_blank">Microsoft
                    - World's leading software provider</a><br>
                                                <br>
                                                <a href="index-25.htm" target="_blank">Mohawk Internet
                    Technologies</a><br>
                                                <br>
                                                <a href="http://www.nortel.com" target="_blank">Nortel - Canadian
                    Telecommunications giant</a><br>
                                                <br>
                                                <a href="index.html" target="_blank">Oracle - Largest
                    database company</a><br>
                                                <br>
                                                <a href="index-26.htm" target="_blank">Rouge Data
                    Corp.</a> <br>
                                                <br>
                                                <a href="sun/index.htm" target="_blank">Sun - Solaris
                    Unix and Sun Java</a><br>
                                                <br>
                                                <a href="http://www.turtletech.com" target="_blank">Turtle
                    Technologies</a><br>
                                                <br>
                                                <br>
                                                <b>Useful Job Links</b><br>
                                                <br>
                                                <a href="http://jb-ge.hrdc-drhc.gc.ca/Intro_en.asp" target="_blank">HRDC
                    Site</a><br>
                                                <br>
                                                <a href="en/public-service-commission.html" target="_blank">Jobs with
                    the Federal Government </a><br>
                                                <br>
                                                <a href="index-27.htm" target="_blank">Monster Job
                    Bank</a><br>
                                                <br>
                                                <font color="#336699"><a href="en/index.htm" target="_blank">Workopolis
                    Job Bank</a></font><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Communities &amp; Organizations</b><br>
                                                <br>
                                                <a href="index-28.htm" target="_blank">Canadian Center
                    of Philanthropy</a><br>
                                                <br>
                                                <a href="http://www.earthrestorationcorps.org" target="_blank">Earth
                    Restoration Corps.</a><br>
                                                <br>
                                                <a href="index-29.htm" target="_blank">Volunteer
                    Canada</a> </font>
                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
