<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
    <tr>
        <td valign="top">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                        <!-- #BeginEditable "LeftMenu" -->

                        <!-- #EndEditable -->
                    </td>
                    <td valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                        </table>
                        <!-- #BeginEditable " Main " -->
                        <table width="100% " border="0 " cellspacing="0 " cellpadding="0 ">
                            <tr>
                                <td width="2% ">&nbsp;</td>
                                <td width="96% " valign="top "> <br>
                                    <table width="100% " border="0 " cellspacing="0 " cellpadding="0 " background="./assets/images/heartbeattitle1.jpg ">
                                        <tr>
                                            <td width="69 ">&nbsp;</td>
                                            <td height="34 " valign="top "><b><p class="page-title">Links</p></b></td>
                                        </tr>
                                    </table>
                                    <p>
                                        The web is a tremendous resource. Here is a list of useful links which will continue to grow and expand. Feel free to submit your own links so that we can better serve the TeKnoWave community.
                                    </p>
                                    <p>
                                        <i>Add the www.TeKnoWave.ca link to your site
                    and we will do the same. Email us at <a href="mailto:webmaster@teknowave.ca ">webmaster@teknowave.ca</a>
                    to request adding your link when you have put the TeKnoWave
                    website link on your site.</i>
                                    </p>
                                    <tr *ngFor="let link of genLinks.links ; let i = index">
                                        <ng-template *ngIf="link.isLink;then showBlock; else notShowBlock">
                                        </ng-template>

                                        <ng-template #showBlock>
                                            <td>
                                                <p><a href="{{link.linkURL}}">{{link.linkName}}</a></p>
                                            </td>
                                        </ng-template>

                                        <ng-template #notShowBlock>
                                            <br>
                                            <h1>
                                                {{ link.linkName }}
                                            </h1>
                                        </ng-template>

                                    </tr>


                                </td>
                                <td width="2% ">&nbsp;</td>
                            </tr>
                        </table>
                        <!-- #EndEditable --><br>
                        <br>
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
