<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tr>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td valign="top" height="113" background="images/topBannerTile.jpg">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="689" valign="bottom">
                                        <div align="left"><img src="images/top2.jpg" width="689" height="113"></div>
                                    </td>
                                    <td>
                                        <div align="right"><img src="images/TeknowaveLogo.jpg" width="69" height="113" usemap="#Map2" border="0"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="186" valign="top" background="images/leftTile.jpg">
                            <!-- #BeginEditable "LeftMenu" -->
                            <table width="186" border="0" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
                                <tr>
                                    <td width="40">&nbsp;</td>
                                    <td bgcolor="#FFFFFF" valign="top" height="271">
                                        <div id="navlist"> <a href="about.htm" target="_self">About
                    TeKnoWave</a> <a href="champions.htm" target="_self">Champions</a>
                                            <a href="students.htm" target="_self">Students</a> <a href="partners.htm" target="_self">Partners</a>
                                            <a href="jobs.htm" target="_self">Jobs</a> <a href="programs.htm" target="_self">Programs</a>
                                            <a href="cip.htm" target="_self">Community Internship Program</a>
                                            <a href="wcommanda/index.htm" target="_self">Dr. William Commanda Scholarship</a>
                                            <a href="jtn/index.htm" target="_self">Joseph
                    T. Norton Scholarship</a>
                                            <div id="uberlink"><a href="links.htm" target="_self">Links</a></div>
                                            <a href="downloads.htm" target="_self">Downloads</a> <a href="contact.htm" target="_self">Contact</a>
                                            <a href="index-1.htm" target="_self">Home</a> </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- #EndEditable -->
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="135" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="100%" height="135" background="images/studentsTile.jpg" valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="135">
                                                        <tr>

                                                            <td height="112" valign="top">
                                                                <div align="left">
                                                                    <table width="628" border="0" cellspacing="0" cellpadding="0" height="112">
                                                                        <tr>
                                                                            <td background="images/Students.jpg" valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="get/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="400" height="40" id="newtop" hspace="20" align="top">
                                        <param name="movie" value="flash/preparetoday5.swf"> <param name="quality" value="high"> <param name="wmode" value="transparent">

<param name="bgcolor" value="#000000"> <embed src="flash/preparetoday5.swf" quality="high" wmode="transparent" bgcolor="#000000" width="400" height="40" hspace="20" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="top">
                                      </object></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>

                                                            <td valign="top">
                                                                <!-- #BeginEditable "horMenu" -->
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td bgcolor="#FFFFFF">
                                                                            <div id="hbuttoncontainer">
                                                                                <div id="hbutton"> <a href="communities.htm" target="_self">Communities </a><a href="academic.htm" target="_self">Academic </a> <a href="corporate.htm" target="_self">Corporate </a> <a href="government.htm"
                                                                                        target="_self">Government </a> </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <!-- #EndEditable -->
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                                <td valign="bottom">

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- #BeginEditable "Main" -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="2%">&nbsp;</td>
                                    <td width="96%" valign="top"> <br>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="images/heartbeattitle1.jpg">
                                            <tr>
                                                <td width="69">&nbsp;</td>
                                                <td height="34" valign="top"><b><font face="Arial" size="4" color="#003366">Links</font></b></td>
                                            </tr>
                                        </table>
                                        <p>
                                            <font size="2">The web is a tremendous resource. Here is a list of useful links which will continue to grow and expand. Feel free to submit your own links so that we can better serve the TeKnoWave community.</font>
                                        </p>
                                        <p>
                                            <font size="2"><i>Add the www.TeKnoWave.ca link to your site
                    and we will do the same. Email us at <a href="mailto:webmaster@teknowave.ca">webmaster@teknowave.ca</a>
                    to request adding your link when you have put the TeKnoWave
                    website link on your site.</i></font>
                                        </p>
                                        <p>
                                            <font size="2"><b>Education &amp; Training (See other links
                    throughout site)</b><br>
                                                <br>
                                                <a href="index-6.htm" target="_blank">Carleton
                    University</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-7.htm" target="_blank">First
                    Nations University</a><br>
                                                <br>
                                                <a href="index-8.htm" target="_blank">Queens University</a><br>
                                                <br>
                                                <a href="index-9.htm" target="_blank">University
                    of Ottawa</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-5.htm" target="_blank">University
                    of Winnipeg</a><br>
                                                <br>
                                                <a href="index-4.htm" target="_blank">Willis
                    College of Business &amp; Technology</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Aboriginal </b><br>
                                                <br>
                                                <a href="http://www.aboriginalcanada.gc.ca/abdt/interface/interface2.nsf/engdocBasic/0.html" target="_blank">Aboriginal
                    Canada Portal</a><br>
                                                <br>
                                                <a href="http://www.ahrdcc.com" target="_blank">Aboriginal
                    Human Resource Development Council of Canada</a><br>
                                                <br>
                                                <a href="http://www.ainc-inac.gc.ca/ai/awpi/index_e.html" target="_blank">Aboriginal
                    Workforce Participation Initiative</a> <br>
                                                <br>
                                                <a href="index-10.htm" target="_blank">Assembly of First
                    Nations</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.abo-peoples.org/mainmenu.html" target="_blank">Congress
                    of Aboriginal Peoples</a><br>
                                                <br>
                                                <a href="index-11.htm" target="_blank">G.R.E.A.T</a><br>
                                                <br>
                                                <a href="index-12.htm" target="_blank">Inuit Tapiriit
                    Kanatami</a><br>
                                                <br>
                                                <a href="index-13.htm" target="_blank">Metis
                    National Council</a><br>
                                                <br>
                                                <a href="index-14.htm" target="_blank">National Aboriginal
                    Achievement Foundation</a><br>
                                                <br>
                                                <a href="http://www.nafc-aboriginal.com" target="_blank">National
                    Association of Friendship Centres</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-15.htm" target="_blank">Native
                    Women's Association of Canada</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-2.htm" target="_blank">Ogwehoweh
                    Skills and Trades Training Centre</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-2.htm" target="_blank">OSWE:GE
                    Inc.</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.whitedeertechnologies.com/" target="_blank">Whitedeer
                    Technologies</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Media</b><br>
                                                <br>
                                                <a href="index-16.htm" target="_blank">Aboriginal Peoples
                    Television Network</a> <br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.aboriginaltimes.com/home.html" target="_blank">Aboriginal
                    Times</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="lander/aboriginalvoices.com.html" target="_blank">Aboriginal
                    Voices Media</a><br>
                                                <br>
                                                <a href="index-17.htm" target="_blank">Aboriginal
                    Voices Radio</a><br>
                                                <br>
                                                <a href="http://www.ammsa.com/sweetgrass/" target="_blank">Alberta
                    Native News</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-18.htm" target="_blank">CJOH</a><br>
                                                <br>
                                                <a href="index-19.htm" target="_blank">Eastern
                    Door</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.firstperspective.ca" target="_blank">First
                    Perspective News</a></font>
                                            <font size="2"><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.hilltimes.com" target="_blank">The
                    Hill Times</a><br>
                                                <br>
                                                <a href="http://www.thenewro.com" target="_blank">NewRO</a><br>
                                                <br>
                                                <a href="index-20.htm" target="_blank">Ottawa
                    Citizen</a><br>
                                                <br>
                                                <a href="index-21.htm" target="_blank">SAY Magazine</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="http://www.wawatay.on.ca" target="_blank">Wawatay
                    News</a><br>
                                                <br>
                                                <a href="index-22.htm" target="_blank">Wind
                    Speaker</a></font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Technology Firms</b><br>
                                                <br>
                                                <a href="index-23.htm" target="_blank">Cisco - World's
                    leader in telecommunications</a><br>
                                                <br>
                                                <a href="index-3.htm" target="_blank">Donna Cona
                    Inc.</a><br>
                                                <br>
                                                <a href="ca-en.html" target="_blank">IBM</a><br>
                                                <br>
                                                <a href="http://www.kiggavik.ca/training.htm" target="_blank">Kiggavik
                    Services</a><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><a href="index-24.htm" target="_blank">Macromedia
                    - Web design and multimedia</a><br>
                                                <br>
                                                <a href="en-ca/index.htm" target="_blank">Microsoft
                    - World's leading software provider</a><br>
                                                <br>
                                                <a href="index-25.htm" target="_blank">Mohawk Internet
                    Technologies</a><br>
                                                <br>
                                                <a href="http://www.nortel.com" target="_blank">Nortel - Canadian
                    Telecommunications giant</a><br>
                                                <br>
                                                <a href="index.html" target="_blank">Oracle - Largest
                    database company</a><br>
                                                <br>
                                                <a href="index-26.htm" target="_blank">Rouge Data
                    Corp.</a> <br>
                                                <br>
                                                <a href="sun/index.htm" target="_blank">Sun - Solaris
                    Unix and Sun Java</a><br>
                                                <br>
                                                <a href="http://www.turtletech.com" target="_blank">Turtle
                    Technologies</a><br>
                                                <br>
                                                <br>
                                                <b>Useful Job Links</b><br>
                                                <br>
                                                <a href="http://jb-ge.hrdc-drhc.gc.ca/Intro_en.asp" target="_blank">HRDC
                    Site</a><br>
                                                <br>
                                                <a href="en/public-service-commission.html" target="_blank">Jobs with
                    the Federal Government </a><br>
                                                <br>
                                                <a href="index-27.htm" target="_blank">Monster Job
                    Bank</a><br>
                                                <br>
                                                <font color="#336699"><a href="en/index.htm" target="_blank">Workopolis
                    Job Bank</a></font><br>
                                            </font>
                                        </p>
                                        <p>
                                            <font size="2"><br>
                                                <b>Communities &amp; Organizations</b><br>
                                                <br>
                                                <a href="index-28.htm" target="_blank">Canadian Center
                    of Philanthropy</a><br>
                                                <br>
                                                <a href="http://www.earthrestorationcorps.org" target="_blank">Earth
                    Restoration Corps.</a><br>
                                                <br>
                                                <a href="index-29.htm" target="_blank">Volunteer
                    Canada</a> </font>
                                        </p>
                                    </td>
                                    <td width="2%">&nbsp;</td>
                                </tr>
                            </table>
                            <!-- #EndEditable --><br>
                            <br>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>

                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
                    <tr>
                        <td width="186" background="images/leftTile.jpg">&nbsp;</td>
                        <td valign="top">
                            <div align="center">
                                <div align="center"><b><font color="#000033"><a href="about.htm" target="_self"><font size="2">About
                TeKnoWave</font></a><font size="2"> | <a href="champions.htm" target="_self">Champions</a>
                | <a href="students.htm" target="_self">Students</a> | <a href="partners.htm" target="_self">Partners</a>
                | <a href="jobs.htm" target="_self">Jobs</a> | <a href="programs.htm" target="_self">Programs</a>
                | <a href="links.htm" target="_self">Links</a> | <a href="contact.htm" target="_self">Contact</a>
                | <a href="index-1.htm" target="_self">Home</a><br>
                <a href="communities.htm" target="_self">Communities</a> |
                <a href="academic.htm" target="_self">Academic</a> | <a href="corporate.htm" target="_self">Corporate</a>
                | <a href="government.htm" target="_self">Government</a></font><br>
                </font></b></div>
                                <b><font color="#000033">
              <hr align="center">
              <div align="center"><font size="2">Innovative Partnerships Building
                Canada's Aboriginal Technology Capacity</font><br>
                <img src="images/logos.jpg" width="600" height="65" usemap="#Map" border="0" target="_blank">
              </div>
              </font></b></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <map name="Map">
  <area shape="circle" coords="485,33,29" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="rect" coords="515,13,598,52" href="http://www.volunteer.ca/index-eng.php" alt="Canada Volunteerism Initiative" title="Canada Volunteerism Initiative" target="_blank">
  <area shape="circle" coords="420,32,29" alt="Earth Restoration Corps" title="Earth Restoration Corps" target="_blank" href="http://www.earthrestorationcorps.or">
  <area shape="circle" coords="353,32,29" href="index-2.htm" alt="OGWEHOWEH Skills and Trades Training Centre" title="OGWEHOWEH Skills and Trades Training Centre" target="_blank">
  <area shape="circle" coords="287,32,29" href="http://www.ainc-inac.gc.ca/ai/awpi/ini_e.html" alt="AWPI Aboriginal Workforce Participation Initiative" title="AWPI Aboriginal Workforce Participation Initiative" target="_blank">
  <area shape="circle" coords="222,32,29" href="http://www.ahrdcc.com" alt="AHRDCC The Aboriginal Human Resource Development Council of Canada" title="AHRDCC The Aboriginal Human Resource Development Council of Canada" target="_blank">
  <area shape="circle" coords="158,33,29" href="index-3.htm" alt="Donna Cona Inc." title="Donna Cona Inc." target="_blank">
  <area shape="circle" coords="27,32,30" href="index-4.htm" target="_blank" alt="Willis College EST. 1896" title="Willis College EST. 1896">
  <area shape="circle" coords="92,32,29" href="index-5.htm" alt="The University of Winnipeg" title="The University of Winnipeg" target="_blank">
</map>
    <map name="Map2">
  <area shape="circle" coords="36,75,32" href="index-1.htm" target="_self" alt="Home" title="Home">
</map>