<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <tbody>
            <tr>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    </table>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="186" valign="top" background="./assets/images/leftTile.jpg">
                                    <!-- #BeginEditable "LeftMenu" -->

                                    <!-- #EndEditable -->
                                </td>
                                <td valign="top">

                                    <!-- #BeginEditable "Main" -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="2%">&nbsp;</td>
                                                <td width="96%" valign="top"> <br>
                                                    <div align="left">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" background="./assets/images/heartbeattitle3.jpg">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="69">&nbsp;</td>
                                                                    <td height="34" valign="top"><b><p class="page-title">TeKnoWave
                            Success</p></b></td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br>
                                                    </div>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="75%">
                                                                    <p align="left"><b><font size="2">2004 Graduation Ceremony
                            </font></b></p>
                                                                    <p align="left">
                                                                        <font size="2"><img src="./assets/images/Grads.jpg" width="346" height="229" align="right">Greetings,</font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">I am writing to express our gratitude for your participation in helping us to present a Graduation Gala for TeKnoWave Pilot Program graduates that was a tremendous success. <br>
                                                                            <br> The ceremony was surpassed only be the stellar achievements of the graduates themselves, which was highlighted by Christopher Brinklow being presented the Rahansiio Cross
                                                                            Award of Excellence awarded to students who achieve the highest academic scores during the year of study. Moreover graduate students Angela Vallely and Philip VanEvery-Albert
                                                                            were featured for being selected as Canadian Youth Ambassadors to represent Canada in Busan, South Korea at the Information Telecom Union (ITU) Asia 2004 in September.</font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">We were especially honoured to have Algonquin Nation Elder - Grandfather William Commanda, provide the opening and closing prayer in three languages including Algonquin, English and
                                                                            French. Dr. Douglas Cardinal's keynote speech was profound and inspiring. As Canada's 1st architect to embrace information technology in his company in the 1970's he changed the
                                                                            architect profession forever and is a role model for all Aboriginal people and TeKnoWave graduates.</font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">Congratulatory messages from Maurice F. Strong U.N. Under Secretary-General and Special Advisor to the Secretary General; Prime Minister Paul Martin; Minister of State (Northern Development)
                                                                            Ethel Blondin-Andrew; and Mayor Bob Chiarelli were poignant and gave particular recognition of TeKnoWave as Canada's 1st National Aboriginal IT Training Program. </font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">Please accept our best personal regards and sincere thanks for your help in making the first TeKnoWave Pilot program graduation 2004 an unmitigated success.</font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">All My Relations,</font>
                                                                    </p>
                                                                    <p align="left">
                                                                        <font size="2">Clifford T. Summers<br> Chair
                                                                            <br> TeKnoWave Graduation Gala Committee</font>
                                                                    </p>
                                                                </td>
                                                                <td width="5%" valign="top">&nbsp;</td>
                                                                <td width="20%" valign="top">
                                                                    <table width="100%" cellspacing="0" cellpadding="0" class="panel" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="top">Links<br>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <div align="left"></div>
                                                                                    <table width="100%" border="0" cellspacing="5" cellpadding="5">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div align="left">
                                                                                                        <p>
                                                                                                            <font size="2"><a href="./assets/documents/HonPaulMartin.pdf" target="_blank">Paul
                                          Martin</a></font>
                                                                                                        </p>
                                                                                                        <p>
                                                                                                            <font size="2"><a href="./assets/documents/HonMauriceStrong.pdf" target="_blank">Maurice
                                          Strong</a></font>
                                                                                                        </p>
                                                                                                        <p>
                                                                                                            <font size="2"><a href="./assets/documents/Ethel%20Blondin-Andrew.pdf" target="_blank">Ethel
                                          Blondin-Andrew</a></font>
                                                                                                        </p>
                                                                                                        <p>
                                                                                                            <font size="2"><a href="./assets/documents/Doug%20Cardinal.pdf" target="_blank">Douglas
                                          Cardinal</a></font>
                                                                                                        </p>
                                                                                                        <p>
                                                                                                            <font size="2"><a href="./assetsdocuments/MayorBobChairelli.pdf" target="_blank">Mayor
                                          Bob Chairelli</a> </font>
                                                                                                        </p>
                                                                                                        <p>
                                                                                                            <font size="2"><a routerLink="/graduation" target="_self">Graduation
                                          Pictures</a></font>
                                                                                                        </p>

                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <p align="left"><br>
                                                                                        <br>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p>&nbsp;</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="2%">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- #EndEditable --><br>
                                    <br>
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
                        <tbody>
                            <tr>
                                <td width="186" background="./grad2004-TeKnoWave_files/leftTile.jpg">&nbsp;</td>
                                <td valign="top">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
